.box-parent {
  padding: 32px;
}

.box {
  min-width: 200px;
  width:100%;
}

.box .box-header {
  text-align: left;
  padding: 5px;
  padding-left: 15px;
  height: 20px;
  background-color: rgba(73, 67, 59, .8);
  font-size: 18px;
  color: rgb(192, 187, 164);
}

.box .box-content {
  padding: 10px;
  background-color: rgba(215, 208, 185, .8);
}
