.button-container {
  margin: 15px;
}

.button {
  background-color: rgb(170, 165, 146);
  cursor: pointer;
  padding: 5px;
  padding-left: 15px;
}

.button:hover {
  background-color: rgba(73, 67, 59, .8);
  color: rgb(192, 187, 164);
}
