[Unit]
Description=Pi Manager Service
After=multi-user.target

[Service]
Type=idle
ExecStart=node /home/pi/Documents/GitHub/ty-pi-manager/app.js
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
